@import "tailwindcss";

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}


body{
    background-color: white;
    background-image: linear-gradient(#A36EFA, #AE18E5);
    font-style: normal ;
    font-size: large;
    font-weight: normal;
    font-family: sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    
    




}
#myH1{
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}


