<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <br>
        <ul class="topnav">
            <li><a href= "home.html">Home</a></li>
            <li><a href= "about.html">About</a></li>
            <li><a href= "contact.html">Contact</a></li>
    
        </ul>
    </br>
    <br>
    <h1 id="myH1"><b>Welcome to Feed Music AI</b></h1>
    </br>

    <br>
    <p id = "myP">Place your face into the camera to scan for your mood</p>
    <script src="home.jsx"></script>
    </br>
    <p id = "Calibrate your mood">Calibrate your mood</p>
    <script>
        function myFunction(){
            document.getElementById("Calibrate your mood").innerHTML = "Calibrating...";
        }
    </script>
    



</body>
</html>