<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1 id="myH1"><b>Welcome to Feed Music AI</b></h1>
    <p id = "myP"></p>
    <script src="home.jsx"></script>

    <ul>
        <li><a href= "home.html">Home</a></li>
        <li><a href= "about.html">About</a></li>
        <li><a href= "contact.html">Contact</a></li>
    
    </ul>




</body>
</html>